body {
  background-color: #ffcee4;
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  max-height: 100px;
  background-color: #ffcee4;
}
.home {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  max-height: 100px;
  background-color: #ffcee4;
}
.topnav a {
  color: #1a0342;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
.home a {
  padding-top: 10px;
  padding-left: 15px;
}
.topnav a:hover {
  color: #1a0342;
  border-radius: 60px;
}
.topnav a.active {
  background-color: #11333d;
  color: white;
}
.home a.active {
  background-color: #11333d;
  color: white;
}
@media only screen and (max-width: 600px) {
  /* Styles for small screens */
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for medium screens */
}
@media only screen and (min-width: 1025px) {
  /* Styles for large screens */
}
