body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.TitleHeading {
  text-align: center;
  margin-bottom: 20px;
}

.service-scallop {
  text-align: center;
  position: relative;
  background: var(--clr-accent-400);
  padding-top: 60px;
  padding-bottom: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-scallop::before {
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  left: 0px;
  width: 100%;
  content: " ";
  background: radial-gradient(
    circle at 50% 0%,
    #00eab3 25%,
    #e0e1ff 26%,
    #e0e1ff 40%
  );
  background-color: #e0e1ff;
  background-size: 50px 100px;
  height: 50px;
  background-repeat: repeat-x;
  background-position: -20px 0px;
}
.service-scallop h3 {
  z-index: 1000; /* Ensure it's on top */
  display: block; /* Ensure it's displayed */
   text-align: center;
  color: var(--clr-font-200);
  font-family: var(--ff-body);
  font-size: var(--fs-550);
  font-weight: var(--fw-semi-bold);
}

.service-scallop h3,
.service-scallop p {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.service-scallop p {
  font-family: var(--ff-body);
  font-size: var(--size-400);
  color: var(--clr-font-200);
}

@media (max-width: 50em) {
  .service-scallop {
    padding-top: 30px; /* Adjust top padding for smaller screens */
    padding-bottom: 100px; /* Adjust bottom padding for smaller screens */
  }
}

.services {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.services h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: var(--ff-subheading);
  font-size: var(--size-600);
  color: var(--clr-font-200);
  font-weight: var(--fw-bold);
}

.services .step-box-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.step-box {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  text-align: center;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center; /* Center items horizontally */
  box-sizing: border-box; /* Include padding and border in width and height */
}

.step-box h2 {
  margin-top: 30px; 
  padding: 0; /* Ensure no padding */
  justify-content: center;
  font-size: var(--fs-600);
  font-family: "Noto Sans", sans-serif;
  color: var(--clr-primary-400);
  
}

.step-box h4 {
  margin: 0; /* Remove default margin */
  padding: 0; /* Ensure no padding */
  margin-top: 10px; /* Adjust as needed to control gap */
  font-family: var(--ff-subheading);
  color: var(--clr-font-200);
  font-weight: var(--fw-semi-bold);
}

.step-box p {
  margin: 0; /* Remove default margin */
  padding: 0; /* Ensure no padding */
  margin-top: 10px; /* Adjust as needed to control gap */
  font-family: var(--ff-body);
}
